.login {
	position: relative;
	padding: 40px;
	color: #fff;
	font-family: 'Roboto', sans-serif;
}

.login::before{
	background-color: rgba(43, 205, 255, 0.129);
	backdrop-filter: blur(15px);
	-webkit-backdrop-filter: blur(15px);
	box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
	color: #fff;
	border: 2px solid transparent;
	background-clip: padding-box;
}

.login:hover{
	color: rgba(148, 12, 166, 0.401);
}

.login::before {
	content: '';
	position: absolute;
	z-index: -1;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	border-radius: 20px;
}

.login h1 {
	margin: 0 0 20px;
	font-size: 40px;
	text-align: center;
}

.form-button {
	display: block;
	margin: 0 auto;
	padding: 15px 30px;
	font-size: 14px;
	text-transform: uppercase;
	color: #fff;
	background-color: rgba(0, 217, 255, 0.8);
	border: 0;
	border-radius: 10px;
	outline: none;
	cursor: pointer;
	transition: .3s ease-in-out;
}
.form-button:hover {
	background-color: rgb(170, 0, 249);
	box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}