body{
  margin: 0;
}

.outer-wrapper{
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
}

.wrapper{
  display: flex;
  flex-direction: row;
  width: 300vw;
  /* transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left; */
}

.page{
  width: 100vw;
  height: 100vh;
}

.one{
  background-color: rgb(11, 114, 114);
}

.two{
  background-color: bisque;
}

.three{
  background-color: blueviolet;
}