body{
  margin: 0;
}

.outer-wrapper{
  width: 100vw;
  height: 100vh;
  position: absolute;

  scrollbar-width: none;
  -ms-overflow-style: auto;
}

::-webkit-scrollbar{
  display: none;
}

.wrapper{
  display: flex;
  flex-direction: column;
  height: 300vh;
}

.page{
  width: 100vw;
  height: 100vh;
}

.one{
  background-color: rgb(11, 114, 114);
}

.two{
  background-color: bisque;
}

.three{
  background-color: blueviolet;
}